.x-door-home-page {
  overflow: auto;
}

.common-selection-style {
  padding: 0 12.3%;
}

.home-page-content {
  .home-page-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .x-door-selection {
    color: white;
    min-width: 495px;
    width: 588px;

    .x-door-header {
      width: 495px;
      height: 75px;
      left: 0px;
      top: 0px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 60px;
      line-height: 75px;
      color: #ffffff;
      margin-bottom: 19px;
    }

    .x-door-paragraph {
      left: 0px;
      right: 6px;
      bottom: 21px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
    }
  }
}

.first-selection {
  position: relative;
  background: url('@/assets/images/xdoorbg.png') no-repeat center center;
  background-size: cover;
  height: 100vh;
  min-width: 1920px;
  width: 100vw;

  .x-center-column {
    width: 273px;
    .x-door-cool-image {
      position: absolute;
      left: 680px;
      top: 49%;
      img {
        width: 273px;
      }
    }
  }

  .introduction {
    .x-door-header {
      margin-bottom: 0;
    }
    .x-ca-id {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      width: fit-content;
      padding: 1px 10px;
      background: #000000;
      border: 1px solid #676767;
      border-radius: 8px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 30px;
      color: #f8d748;
      flex-grow: 0;
      margin-bottom: 9px;

      img {
        margin-left: 9px;
      }
    }

    .sentence {
      margin: 20px 0;
    }
  }

  .long-width {
    line-height: 25px;
    width: 807px;
  }

  .fomo3d-area {
    display: flex;
    justify-content: center;
    margin-left: 120px;
    margin-top: 100px;

    .click-area {
      color: #ffffff;
      width: 177px;
      height: 50px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 50px;
      margin-top: 130px;
      text-align: end;

      .arrow {
        width: 56px;
        height: 42px;
      }
    }

    .fomo3dImg {
      width: 342px;
      height: 342px;
    }
  }

  .jackpot-pool {
    margin-top: 60px;
    margin-left: 120px;
    position: relative;

    .sub-title {
      font-family: Montserrat;
      font-weight: 700;
      font-style: Bold;
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0%;
    }

    .x-door-header {
      font-size: 40px;
      line-height: 50px;
    }
  }
}

.selection-content {
  position: relative;
  padding: 136px 0px;
  min-width: 1330px;
  max-height: 1080px;
  width: 100vw;
  display: flex;
  align-items: flex-start;
}

.second-selection {
  margin-bottom: 78px;

  .x-door-selection {
    display: flex;
    flex-direction: row;
  }

  .troll-face {
    width: 156.72px;
    height: 156.72px;
    margin-left: 53px;
    margin-top: 95px;
  }

  .roadmap-gif {
    width: 709px;
    height: 390px;
    margin-left: 135px;
    bottom: 20px;
  }

  .bling-yes {
    width: 269px;
    height: 269px;
    margin-top: 47px;
    margin-left: 77px;
  }
}

.footer-wrapper {
  width: 100%;
  height: 225px;
  display: flex;
  align-items: center;
  color: #ffffff;

  .x-door {
    font-family: Montserrat;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 60px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
}
